/* purgecss start ignore */
@tailwind base;
@tailwind components;
@import url('https://use.typekit.net/mpa1wkh.css');
html,
body {
	font-family: 'acumin-pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	color: rgb(75, 75, 75);
	background: #ffffff;
}
/* purgecss end ignore */

@tailwind utilities;

.component-selected {
	@apply relative;
}
.component-selected::after {
	content: ' ';
	@apply border-primary border border-dashed w-full h-full absolute left-0 top-0 pointer-events-none block;
}

.transition {
	transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.small-icon {
	width: 24px;
	height: 24px;
}

.medium-icon {
	width: 48px;
	height: 48px;
}

.large-icon {
	width: 72px;
	height: 72px;
}

.hc{
	height: calc(100vh - 77px);
}



.tab_item:first-child{
	position: absolute;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	top: 0;
	left: 2px;
}
.tab_item:last-child{
	position: absolute;
	top: 0;
	right: 2px;
}
.tab_item {
	background: #F9FAFB;
	padding: 7px 15px;
	border-radius: 5px;
	transition: background 0.3s ease;
	width: 50%;
}
.tab_items {
	position: relative;
	height: 37.5px;
}
.active_switch {
	background: #fff;
    color: #523AE1;
    font-weight: 500;
    text-decoration: underline;
    border-radius: 5px;
}
.text_field-dev {
	border: 1px solid #000 !important;
    padding: 2px !important;
}
.text_field-dev:focus-within {
	border: 2px solid #6366f1 !important;
}